{% extends 'base.html.twig' %}

{% block title %}NbpController{% endblock %}

{% block body %}

<div class="example-wrapper">
  <h1>NbpController ✅ Index</h1>
  <table>
    {% for item in items %}
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.currencyCode }}</td>
      <td>{{ item.exchangeRate }}</td>
    </tr>
    {% endfor %}  
  </table>
</div>
{% endblock %}
