{% extends 'base.html.twig' %}

{% block title %}NbpController{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>NbpController ✅ Index</h1>
    <p>{{ result | json_encode }}</p>
</div>
{% endblock %}
