{% extends 'base.html.twig' %}

{% block title %}NbpController{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>NbpController ✅ Update</h1>
    <p>Number of changes: {{ result }}</p>
</div>
{% endblock %}
